<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevCareers</title>
    <style>
      table,
      th,
      td {
        border: 1px solid;
      }
    </style>
  </head>
  <body>
    <h1>DevCareers Task 2😎</h1>
    <p>
      Hi✌️, This is the Submission for my second Devcareers task for the Cloud
      Track
    </p>
    <table>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>App Runtime</th>
        <th>Team</th>
      </tr>
      <tr>
        <td>Julius Omoleye</td>
        <td>Joshkid610@gmail.com</td>
        <td>Python(Flask)</td>
        <td>Team-cloud-1</td>
      </tr>
    </table>

    <p>Thank you🤪</p>
  </body>
</html>
